* {
    box-sizing: border-box;
}
.fiedsWrapper {
    width: 375px;
    background: white;
    margin: 10vh auto 100px auto;
    border-radius: 20px;
    box-shadow: 0px 25px 40px rgb(53 66 118 / 10%);
    z-index: -1;
    
}
.wrapperModal {
    position: relative;
    z-index: -5;
    margin-left: 180px;
}
.upperElement { /* container for blue rect*/
    position: absolute;
    left: 306px;
    top: 1px; 
    z-index: 2;
}
.roundedElement { /* container for pink rounded rect*/
    position: absolute;
    left: 298px;
    top: -10px;
    z-index: 1;
    margin: 0;
}
.lowerElement { /* container for pink rect*/
    position: absolute;
    left: 298px;
    top: -10px;
    z-index: 1;
    margin: 0;
}
.authHeader {
    padding-top: 70px;
    color: #1A1A1A;
}

.authHeader, .commonText {
    text-align: center;
}
.commonText {
    color: #9495A2;
    font-size: .62em;
    margin-top: .5em;
}
.commonTextSmall {
    font-style: italic;
    padding-bottom: 8px;
}
.socialEntry {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0 auto;
    padding: 15px;
}
.socialItem {
    border: 2px ;
    border-radius: 10px;
    height: 46px;
    border: 2px solid #0072E1;
    width: 32%;

}
.yandex {
    background-image: url('./../../images/yandex_icon.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 50% 50%;

}
.fb {
    background-image: url('./../../images/facebookIcon.svg');
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 50% 50%;
}
.google {
    background-image: url('./../../images/googleIcon.svg');
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 50% 50%;
}
.field {
    margin-top: 20px;
    position: relative;
}
.input {
    width: 340px;
    margin: 0 auto;
    display: block;
    padding: .9em;
    color: #A5A5A5;
    border: 1px solid #DFE3EE;
    border-radius: 5px;
}
.iconEye {
    position: absolute;
    top: calc(50% - 12px);
    right: 28px;
    height: 24px;
    width: 26px;
    background: url('./../../images/eye.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}
.input:focus {
    border: none;
    color: black;
    outline: none;
    border: 1px solid #DFE3EE;
    background: #E8F0FE;
}
.forgotPassword {
    text-align: right;
    padding: 0 .9em;
}
.forgotPassword a {
    color: #0072E1;
    font-size: .6em;
}
.inputSubmit {
    color: white;
    display: block;
    width: 90%;
    cursor: pointer;
    text-align: center;
    background: #0072E1;
    height: 44px;
    border: 0px solid;
    border-radius: 23px;
    font-weight: 800;
    margin: 18px auto 15px auto;
}
.actions {
    padding-bottom: 30px;
}
.registerLink {
    color: #0072E1;
    font-size: inherit;
}
