* {
    box-sizing: border-box;
}
.selectWrapper {
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin: 40px auto;
    margin-left: 40px;

}
.selectWrapperAbled {
    box-shadow: 0 2px 5px 1px rgb(33 42 54 / 15%);

}
.selectDisabled, .selectAbled {
    /* border: 1px solid #bcc9d1; */
    border-radius: 25px;
    /* width: 140px; */
    height: 36px;
    font-size: 14px;
    cursor: pointer;
    background: #DBE2E6;
    color: #1D2124;
    font-weight: 700;
    /* padding-left: 20px;
    padding-top: 8px; */
}
.selectAbled {
    background: #1D2124;
    color: white;
    transition: 300ms;
}
.selectDisabled:hover {
    /* box-shadow: 0 2px 5px 1px rgb(33 42 54 / 15%); */
    transition: 300ms;
    background: #BCC9D1;

}
.selectHeader {
    margin: 0 auto;
    margin-top: 8px;
    /* margin-top: 8px;
    margin-left: 12px; */
    display: inline-block;
    font-size: 14px;
    color: inherit;
    padding: 0 8px;
    
    /* border: 1px solid rebeccapurple; */
}
.selectText {
    display: block;
}

.list {
    background: white;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 30px;
}
.usersGrid {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 330px 330px 330px;
}
h2 {
    text-align: left;
}
.avaWrapper {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    overflow: hidden;
}
.userAva:hover {
    box-shadow: 0 2px 5px 1px rgb(33 42 54 / 15%);
}
.userAva {
    /* vertical-align: bottom; */
    width: 102%;
    height: 102%; 
    display: block;
    margin: 0;
    border-radius: 18px;
    margin-top: -6px;
    margin-left: -6px; 
    
}
.defaultAva {
    margin: 0;
    width: 100%;
}
.defaultAva:hover {
    box-shadow: 0 2px 5px 1px rgb(33 42 54 / 15%);
    border-radius: 18px;
}
.usersList { 
    margin: 10px;
    border-radius: 20px;
    padding-left: 14px;
   
}

.usersList div {
    padding: .2em;   
}
.userInfo {
    width: 380px;
}

.name, .name a {
    font-size: 16px;
    font-weight: 500;
    color: #1D2124;    
}

.status {
    font-size: 10px;
    color: #626570;
    max-width: 120px;
    max-height: 2em;
    overflow: hidden;
}
.geo {
    font-size: 12px;
    color: #8F9199;
    margin-top: .6em;
}

.followButton {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    width: 115px;
    height: 38px;
    border: 2px solid #1D2124;
    border-radius: 20px/*  20px 20px 20px */;
    background: white;
}
.followButton:hover {
    background: #eaeaea;
    transition: 200ms;
}
.followText {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 8px auto 0 auto;
}
.pageNumbers {
    margin: 20px auto;
    margin-left: 100px;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    padding: .4em;
    text-align: center;
}
.selectedPage, .commonPage {
    font-weight: 700;
    font-size: 16px;
    width: 2em;
    /* background: #E9EEF0; */
    padding: 6px;
    text-align: center;
    border-radius: 20px;
    margin: 0 10px;
    transition: 100ms;
}
.commonPage {
    background: white;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 0;
    transition: 100ms;

}
.buttons {
    color: #1D2124;
    width: 30px;
    font-size: 18px;
    font-weight: 600;
    background: white; 
    border: none;
}

.angleRight, .angleLeft {
    margin-top: 6px;
    cursor: pointer;
    padding: 0;
}
.angleRight:hover, .angleLeft:hover {
    width: 28px;
    margin-top: 2px;
    transition: 300ms;

}



