.postFormWrapper {
    width: 492px;
    border: 2px solid #DBE2E6;
    border-radius: 5px;
    margin: 0;
    padding: 30px;
}
.postForm {
    display: flex;
    justify-content: space-evenly;
}
.postForm span {
    display: block;
}

.content {
    margin: .6em 0;
    margin-top: 60px;
}
.postsList {
    width: 492px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.postsList img{
    height: 80%;
    margin: 10% auto;
}
/* .content h2 {
    font-size: 20px;
} */
.post {
    background: white;
    font-size: 18px;
    color: black;
}
.content input, textarea {
    font-size: 18px;
    padding: .3em;
    font-weight: 600;
    width: 300px;
    border: none;
    cursor: pointer;
    height: 5em;
    resize: none;
    border: 2px solid transparent;
}
.content textarea:focus {
    border: 2px solid #DBE2E6;
    outline: none;
}

.content input:hover, .content button:hover {
    opacity: 1;
    cursor: pointer;
}
.content button {
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 120px;
    height: 36px;  
    background: #0072E1;  
    border: none;
    border-radius: 20px;
    font-weight: 600;
    padding: .7em;
    margin-left: 20px;
    margin-top: 52px;
}
.content button:hover {
    background: #0072E1;
    color: white;
    opacity: 1;
}
.content button:disabled {
    opacity: .4;
}
.warning {
    font-size: 12px;
    color: #DBE2E6;
}