.header {
  display: flex;
  width: 1180px;
  height: 75px;
  margin: 0 auto;
  justify-content: space-between;
}
.appLogo {
  height: 57px;
  margin-top: 12px;
  
}
.header img { 
  cursor: pointer;
}

.searchBar {
  margin: 19px auto;
  margin-top: 15px;
  width: 400px;
  position: relative;
}
.searchInput {
  background: #F4F4F5;
  border: none;
  border-radius: 20px;
  width: 98%;
  padding: .2em 2em;
  font-size: 24px;
  font-weight: 800;
}
.searchInput:focus {
  outline: none;
}
.loupe {
  width: 24px;
  position: absolute;
  left: 12px;
  top: 9px;
}
.portrait {
  width: 24px;
  fill: #0072E1;
  margin-top: 8px;
  margin-right: 8px;
}

.loginBlockNotAuth {
  cursor: pointer;  
}

.loginBlockNotAuth:hover {
  color: #0072E1;
  cursor: pointer;
  opacity: 0.6;
}
.loginBlockNotAuth:hover {
  cursor: pointer;
}
.loginnedName {
  font-weight: 600;
  color: #0072E1;
  display: flex;
  margin-top: 16px;
}
.loginnedName:hover {
  color: #0072E1;
}

.loginnedName span {
  margin-top: 6px;
  display: inline-block;
}
.loginnedName div {
  padding: 0;
}

.loginLink {
  font-size: 16px;
  font-weight: 600;
  color: #0072E1;
  margin-top: 26px;
  display: block;
}
.loginLink:hover {
  color: #0072E1;
  cursor: pointer;
}
.logoutArrowWrapper {
  margin: 0 110px 0 auto;
}
.logoutArrow {
  padding-top: 25px;
}
.logoutArrow:hover {
  opacity: 0.6;
}





