
.nav {
    width: 228px;
    border-right: 2px solid #DBE2E6;
    font-size: 14px;
    line-height: 20px;
    height: 95vh;
    margin-top: 0;
    padding-top: 2px;
}
.item, .active {
    cursor: pointer;
    color: #1D2124;
    display: flex;
    justify-content: flex-start;
    padding: .3em;
    border-radius: 25px;
    margin-right: 1em;
}
.item p {
    display: inline-block;
    font-size: 16px;
    margin-top: 1px;
    
}
.item:hover {
    background: #F4F4F5;
    
}

.svg {
    width: 18px;
    height: 18px;
    /* border: 1px solid black; */
    box-sizing: padding-box;
    fill: #1D2124;
    margin: 2px 7px auto auto;
}
.active svg {
    fill: #0072E1;
}

.active {
    font-weight: 600;
    color: #0072E1;      
}

.space {
    margin-bottom: 80px;
}