* {
    box-sizing: border-box;
}
.item {
    font-size: 18px;
    border: 1px solid #E0DFDC;
    border-radius: 5px;
    justify-content: space-between;
    margin: .3em 0;
    height: 170px;
    background-color: white;
}
.item div, .twoCol div {
    background-color: white;
}
.twoCol {
    display: flex;
    justify-content: flex-start;
    padding-left: .5em;
    width: 100%;
    background-color: white;
}
.postAvaWrapper {
    height: 70px;
}
.postAvaImg {
    border-radius: 50%;
}

.item p, .twoCol p {
    text-align: left;
    padding: 1em;
    background-color: white;
}
.postText {
    margin-left: 1em;    
}
.date {
    width: 140px;
    font-size: 14px;
    color: #5E7381;
    text-align: right;
    padding: 0;
}
.like {
    font-size: 14px !important;
    color: #5E7381;
    width: 140px;
    height: 50px;
    padding: 1em;
    display: flex;
}
.iconWrapper, .trashIconWrapper {
    width: 30px;
    height: 30px;
    background: #5E7381;
    margin-left: 10px;
}
.like span {
    font-size: 14px;
    border-right: 2px solid #5E7381;
    margin-top: 5px;
    margin-left: 4px;
    padding-right: 6px;
}
.likesIcon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: white;
    background: #5E7381;
    padding: 4px;
}
.likeIcon {
    color: #5E7381;
    margin-left: 20px;
    cursor: pointer;
}

.trashIconWrapper {
    margin-top: 14px;
    margin-left: 106px;
   /*  border: 1px solid violet; */
    cursor: pointer;
}




