* {
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    justify-content: flex-start;
}
.list {
    background: white;
    width: 626px;
    margin: 0 auto 0 0;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px;
}
.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: .6em;
    border-radius: 20px;
    padding: .5em;
}
.item:hover {
    background: #F4F4F5;
}
.status {
    font-size: 14px;
    color: #626570;
}
.text {
    font-size: 12px;
    color: #8F9199;
    margin-top: .6em;
}
.readButton {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 13px;
    width: 115px;
    height: 40px;  
    background: white;  
    border: 1px solid #0072E1;;
    border-radius: 2px;
    margin-top: 1.8em;
    margin-right: 1em;
    color: #0072E1;
    padding-top: .85em;
}
.readButton:hover {
    background: #0072E1;
    color: white;
}
.plusIcon {
    font-weight: 200;
}
.followText {
    font-size: 16px;
    margin-top: .43em;
    margin-right: .5em;
}
/* === Comments Right Block === */
.commentsBlock {
    width: 300px;
    background: white;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 30px;
    padding: 10px;
}
.newUsersList {
    border-radius: 30px;
}
.newUsersItem {
    font-size: 16px;
    margin: .4em 0;
    padding: 0 .4em .2em .2em;
    background: #F4F4F5;
    width: fit-content;
    border-radius: 6px;
    
    
}


