* {
    box-sizing: border-box;
    font-size: 16px; 
}
.wrapper {
    font-size: 10px;
    position: relative;
    margin-top: 30px;
}
.input input {
    padding: .5em; 
    font-size: 16px; 
    border-radius: 5px; 
}

.input input:focus {
    outline: none; 
}
button {
    width: fit-content;
    
}